@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Segredo secreto vc sabia que o mel n tem data de validade?</h1>
    <p>Veja mais em <a href="https://www.linkedin.com/in/juan-viana-lorenzo/"></a> manda um salve la</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
